name: Version Check

on:
  schedule:
    - cron: '0 05 * * 0'
  workflow_dispatch:

jobs:
  test:
    name: Version Check
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # version check is intentionally not pinned (self reference testing the main branch)
      - name: Version Check
        uses: docker://ghcr.io/sudo-bmitch/version-bump:edge
        with:
          args: check
